body{
    background-color: #121212;
    max-width: 1333px;
    margin: auto;
}

.logo{
    width:100%;
    height: auto;
}
.logo-container{
    width:auto;
    height: auto;
    margin: 10em;
}

.holding-text{
    width: 100%;
    text-align: center;
    margin: 5em 0;
}

.holding-text h2{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #BE1E2D;
}

.socials{
    text-align: center;
    margin: 5em 0;
}

@media screen and (max-width: 768px){
    .logo-container{
        margin: 3em;
    }

    .holding-text h2{
        font-size: 2rem;
    }

    .socials{
        margin: 5em auto;
        width: 30%;
    }

    .socials img{
        width: 100%;
        height: auto;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .logo-container{
        margin: 5em;
    }
}